#main-menu {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #130f12;
  color: white;
}

a,
a:visited,
a:active {
  color: white
}
